<div class="cart-counter">Count of Funds: {{cart.counter}}</div>
<ul>
  {{#each cart.items as |item|}}
    <li>
      <div>{{item.title}}</div>
      <div>{{input value=item.amount key-up=(action "updateCartTotal" item)}}</div>
      <button class="remove-button" {{action "remove" item}}>Remove</button>
    </li>
  {{else}}
    <p class="cart-empty">
      Your basket is empty.
    </p>
  {{/each}}
</ul>

<div class="cart-total">Total: {{cart.total}}</div>